@media only screen and (min-device-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 0;
        outline: 0;
    }
    #TP {
        position: relative;
        top: -73px
    }
    #frasesPrincipal {
        font-Size: "1.5rem";
    }
    .Merda {
        width: 240px;
        height: 320px;
    }
    .CentrP {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 5.5rem;
        margin: 0 auto;
        background-color: #5c5c5c;
        background-repeat: no-repeat;
        background-image: url("hero-background.png");
    }
    #btn:hover {
        background-color: #5e2ced;
        color: white;
    }
    #Imagem {
        object-fit: contain;
        width: 85vh;
        height: 85vh;
    }
    #h5p {
        font-size: 3.5rem;
        font-family: 'Kanit', sans-serif;
        /* color: #5e2ced; */
        color: #fff;
    }
    .Merda {
        height: 85vh;
        margin-top: -0.2rem;
    }
    .Merd {
        display: flex;
        align-items: center;
        border-radius: 23px;
        justify-content: center;
        height: 85vh;
    }
}

@media screen and (max-width: 360px) {
    #frasesPrincipal {
        font-Size: "0.5rem";
    }
    .Whatsapp {
        display: none;
    }
    #TP {
        position: relative;
        top: -40px
    }
    .Merda {
        width: 240px;
        height: 320px;
    }
    .CentrP {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5.5rem;
        margin: 0 auto;
        background-color: #5c5c5c;
        background-repeat: no-repeat;
        background-image: url("hero-background.png");
    }
    #btn:hover {
        background-color: #5e2ced;
        color: white;
    }
    #Imagem {
        object-fit: contain;
        width: 85vh;
        height: 85vh;
    }
    #h5p {
        font-size: 3.5rem;
        font-family: 'Kanit', sans-serif;
        /* color: #5e2ced; */
        color: #fff;
    }
    .Merda {
        display: none;
        height: 85vh;
        margin-top: -0.2rem;
    }
    .Merd {
        display: none;
        align-items: center;
        border-radius: 23px;
        justify-content: center;
        height: 85vh;
    }
}


/* .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
} */